:root {
    --ff-heading: 'Graphik', sans-serif;
    --ff-text: Arial, Helvetica, sans-serif,'Wotfard', serif;
    --ff-code: 'IBM Plex Mono', monospace;
    --ff-kp-primary: "Barlow Semi Condensed", sans-serif;
}