@mixin sample {
  /*Sample mini color sceheme - start*/
  --clr-primary-400: hsl(263 55% 52%);
  --clr-secondary-400: hsl(217 19% 35%);
  --clr-secondary-500: hsl(219 29% 14%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210 46% 95%);
  --clr-neutral-300: hsl(0 0% 81%);
  /*Sample mini color scheme - end*/
}