@font-face {
    font-family: Yesteryear;
    src: url('./yesteryear/Yesteryear-Regular.ttf');
}

.app-header {
    &__title {
        font-family: Yesteryear, monospace;
        font-size: 1.25rem;
        color: light-dark(oklch(64.44% 0.2683 20.12), #fff);
        text-decoration: none;
        &:hover,
        &:focus-visible {
            color: light-dark(oklch(64.44% 0.2683 20.12), #fff);
            text-decoration: none;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__wrap {
        position: sticky;
        background-color: transparent;
        inset: 0 0 auto 0;
        z-index: 99;
        padding: 1rem 0;
        max-height: var(--header-height, 4.5rem);
    }
}